<!-- ******************************************
*  Author : @AngelMaldonado   
*  Created On : Sat Jun 11 2022
*  File : bolsa.html
******************************************* -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="AngelMaldonado">
    <title>Industria Emblemática</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header class="barraNavegacion">
        <a class="barraNavegacion__logo" href="/">logo</a>
        <nav class="barraNavegacion__tabs">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <nav class="barraNavegacion__tabsUsuario">
            <ul>
                <li><a href="/">Bolsa</a></li>
                <li><a href="/">Perfil</a></li>
                <li><a href="/">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="navegacionBolsa">
            <a class="navegacionBolsa__contenedorIcono" href="/"><img src="" alt="Icono"></a>
            <a class="ruta__3" href="/">
                <img src="" alt="Icono">
                <h6>Productos y servicios</h6>
            </a>
            <a class="navegacionBolsa__boton" href="/">Vaciar bolsa</a>
        </nav>
        <section class="mensaje">
            <i class="mensaje__contenedorIcono">icono</i>
            <h3>
                Aún no hay productos en su bolsa
            </h3>
        </section>
    </main>
    <footer class="piePagina">
        <a class="piePagina__logo" href="/">logo</a>
        <nav class="piePagina__navegacion">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <div class="piePagina__info">
            <div class="info__divisor"></div>
            <div class="info__texto">
                <span class="texto__redes">Copyright ©️ AngelMaldonado | Industria Emblemática</span>
                <ul class="texto__redes">
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                </ul>
                <ul class="texto__contacto">
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            +52 4445489505
                        </a>
                    </li>
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            industriaemblematica@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>