<!-- ******************************************
*  Author : @AngelMaldonado   
*  Created On : Sat Jun 11 2022
*  File : crearPedido.html
******************************************* -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="AngelMaldonado">
    <title>Industria Emblemática</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header class="barraNavegacion">
        <a class="barraNavegacion__logo" href="/">logo</a>
        <nav class="barraNavegacion__tabs">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <nav class="barraNavegacion__tabsUsuario">
            <ul>
                <li><a href="/">Bolsa</a></li>
                <li><a href="/">Perfil</a></li>
                <li><a href="/">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="popup">
            <a href="/"><img src="" alt="icono-cerrar"></a>
            <i class="popup__contenedorIcono">icono</i>
            <div class="popup__texto">
                <h1>Su cuenta no es de tipo representante de grupo</h1>
                <p>¿Desea cambiar su tipo de cuenta a representante de grupo?</p>
            </div>
            <div class="popup__botones">
                <a class="botones__boton" href="/">Si, cambiar y continuar</a>
                <a class="botones__boton" href="/">No, cancelar pedido</a>
            </div>
        </div>
        <section class="portada">
            <div class="portada__titulo">
                <h1>Productos y servicios</h1>
            </div>
        </section>
        <section class="pasos">
            <aside class="pasos__trayectoria"></aside>
            <div class="pasos__paso">
                <h1 class="superBig">1</h1>
                <h3>
                    Registrate como representante de grupo,
                    o dile a tu representante que se registre.
                </h3>
                <i class="paso__contenedorIcono">icono</i>
            </div>
            <div class="pasos__paso">
                <h1 class="superBig">2</h1>
                <h3>
                    El representante agrega el correo de los
                    demás alumnos del grupo para invitarlos
                    a que formen parte del pedido (al menos
                    8 alumnos).
                </h3>
                <i class="paso__contenedorIcono">icono</i>
            </div>
            <div class="pasos__paso">
                <h1 class="superBig">3</h1>
                <h3>
                    Cuando al menos el 95% de los alumnos
                    se hayan registrado para formar parte
                    del pedido, se iniciará el proceso de
                    toma de fotos y producción de los
                    paquetes.
                </h3>
                <i class="paso__contenedorIcono">icono</i>
            </div>
        </section>
        <section class="notas">
            <h2>Aspectos a tomar en cuenta</h2>
            <ul>
                <li>
                    <h3>
                        Los avisos se envían a todos los alumnos que forman parte del pedido, y pueden ver el estado del
                        pedido y su paquete en el historial de cada alumno.
                    </h3>
                </li>
                <li>
                    <h3>
                        Los detalles del pedido como el modelo del marco, colo, texto de agradecimiento o tipo de anillo
                        lo realiza cada alumno en la plataforma dentro de sus historiales. La selección de foto
                        individual y medida para el anillo se realiza acudiento a las oficinas o en el día de la foto
                        grupal.
                    </h3>
                </li>
                <li>
                    <h3>
                        Las fechas de toma de foto grupal y entrega de los paquetes se acuerda con el jefe de grupo.
                    </h3>
                </li>
            </ul>
        </section>
        <a class="crearPedidoAhora" href="/"><img src="" alt="icono">Crear pedido ahora</a>
    </main>
    <footer class="piePagina">
        <a class="piePagina__logo" href="/">logo</a>
        <nav class="piePagina__navegacion">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <div class="piePagina__info">
            <div class="info__divisor"></div>
            <div class="info__texto">
                <span class="texto__redes">Copyright ©️ AngelMaldonado | Industria Emblemática</span>
                <ul class="texto__redes">
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                </ul>
                <ul class="texto__contacto">
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            +52 4445489505
                        </a>
                    </li>
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            industriaemblematica@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>