<!-- ******************************************
*  Author : @AngelMaldonado   
*  Created On : Sat Jun 11 2022
*  File : informacionDelPedido.html
******************************************* -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="AngelMaldonado">
    <title>Industria Emblemática</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header class="barraNavegacion">
        <a class="barraNavegacion__logo" href="/">logo</a>
        <nav class="barraNavegacion__tabs">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <nav class="barraNavegacion__tabsUsuario">
            <ul>
                <li><a href="/">Bolsa</a></li>
                <li><a href="/">Perfil</a></li>
                <li><a href="/">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="popup">
            <a href="/"><img src="" alt="icono-cerrar"></a>
            <div class="popup__texto">
                <h1>Confirmar creación del pedido</h1>
                <p>¿Desea crear su pedido ahora?</p>
            </div>
            <div class="popup__botones">
                <a class="botones__boton" href="/">Si, crear ahora</a>
                <a class="botones__boton" href="/">No, cancelar pedido</a>
            </div>
        </div>
        <nav class="navegacionPedido">
            <a class="navegacionPedido__contenedorIcono" href="/"><img src="" alt="Icono"></a>
            <a class="navegacionPedido__productoPersonalizacion" href="/">
                <img src="" alt="Icono">
                <h6>Información del pedido</h6>
            </a>
            <div class="navegacionPedido__estado">En espera</div>
        </nav>
        <section class="alumnos">
            <h4>Alumnos: 1/8</h4>
            <form class="alumnos__lista" action="">
                <div class="lista__nuevoCorreo">
                    <label for="nuevoCorreo">Nuevo correo</label>
                    <input type="email" name="nuevoCorreo" id="" placeholder="alguncorreo@dominio.com">
                    <a href="/"><img src="" alt="icono-mas"></a>
                </div>
            </form>
            <div class="lista__separador"></div>
            <input class="lista__verificado" type="email" name="correoVerificado" id=""
                value="correoverificado@dominio.com">
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
            <div class="lista__enviado">
                <input type="email" name="correoEnviado" id="" value="correoenviado@dominio.com">
                <a href="/"><img src="" alt="icono-eliminar"></a>
            </div>
        </section>
        <form class="campos" action="">
            <label for="escuela">Escuela</label>
            <input type="text" name="escuela" id="">
            <label for="carrera">Carrera</label>
            <input type="text" name="carrera" id="">
            <label for="generacion">Generación</label>
            <div class="campos__generacion">
                <select name="generacion" id="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2004</option>
                </select>
                <h1>/</h1>
                <select name="generacion" id="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2004</option>
                </select>
            </div>
            <input type="button" value="Cancelar">
            <input type="button" value="Guardar">
        </form>
    </main>
    <footer class="piePagina">
        <a class="piePagina__logo" href="/">logo</a>
        <nav class="piePagina__navegacion">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <div class="piePagina__info">
            <div class="info__divisor"></div>
            <div class="info__texto">
                <span class="texto__redes">Copyright ©️ AngelMaldonado | Industria Emblemática</span>
                <ul class="texto__redes">
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                </ul>
                <ul class="texto__contacto">
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            +52 4445489505
                        </a>
                    </li>
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            industriaemblematica@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>