<!-- ******************************************
*  Author : @AngelMaldonado   
*  Created On : Sat Jun 11 2022
*  File : mensajeConfirmacionPedido.html
******************************************* -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="AngelMaldonado">
    <title>Industria Emblemática</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="mensaje">
        <i class="mensaje__contenedorIcono">icono</i>
        <h3>
            Su pedido ha sido creado correctamente, podrá editarlo en su perfil antes de que el 95% de los alumnos que
            invitó hayan confirmado.
        </h3>
        <div class="mensaje__botones">
            <a class="botones__boton" href="/">Volver al inicio</a>
            <a class="botones__boton" href="/">Ver pedido</a>
        </div>
    </section>
    <footer class="piePagina">
        <a class="piePagina__logo" href="/">logo</a>
        <nav class="piePagina__navegacion">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Productos y servicios</a></li>
                <li><a href="/">Crear pedido</a></li>
                <li><a href="/">Galería</a></li>
            </ul>
        </nav>
        <div class="piePagina__info">
            <div class="info__divisor"></div>
            <div class="info__texto">
                <span class="texto__redes">Copyright ©️ AngelMaldonado | Industria Emblemática</span>
                <ul class="texto__redes">
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                    <li class="redes__icono"><a href="/">icono</a></li>
                </ul>
                <ul class="texto__contacto">
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            +52 4445489505
                        </a>
                    </li>
                    <li class="contacto__elemento">
                        <a class="elemento__contenedor" href="/">
                            <img src="" alt="icono">
                            industriaemblematica@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>