/******************************************
*  Author : @AngelMaldonado   
*  Created On : Sun Jun 12 2022
*  File : components.css
*******************************************/

/* BARRA DE NAVEGACION PRINCIPAL */
.barraNavegacion {
    /* Distribucion */
    position: absolute;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.2rem 6.4rem;

    /* Apariencia */
    z-index: 2;
    width: 100vw;
    max-width: 100%;
    background-color: var(--color-primario-a085);
}

.barraNavegacion__logo {
    width: 10%
}

.barraNavegacion__tabs {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.barraNavegacion__contenedor>.enlace:last-child {
    display: none;
}

@media screen and (max-width: 768px) {
    .barraNavegacion {
        flex-direction: column;
        gap: 2.4rem;
    }

    .barraNavegacion__contenedor {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .barraNavegacion__contenedor>.enlace:last-child {
        display: flex;
        height: 100%;
    }

    .barraNavegacion__tabs {
        display: none;
    }

    .barraNavegacion__tabs.activo {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 576px) {
    .barraNavegacion {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.piePagina__logo {
    width: 22%;
}

.separador {
    width: 100%;
    height: 0.4rem;
    background-color: var(--color-borde-ui);
    border-radius: 0.4rem;
}

/*
░█████╗░░█████╗░███╗░░██╗████████╗███████╗███╗░░██╗███████╗██████╗░░█████╗░██████╗░███████╗░██████╗
██╔══██╗██╔══██╗████╗░██║╚══██╔══╝██╔════╝████╗░██║██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔════╝
██║░░╚═╝██║░░██║██╔██╗██║░░░██║░░░█████╗░░██╔██╗██║█████╗░░██║░░██║██║░░██║██████╔╝█████╗░░╚█████╗░
██║░░██╗██║░░██║██║╚████║░░░██║░░░██╔══╝░░██║╚████║██╔══╝░░██║░░██║██║░░██║██╔══██╗██╔══╝░░░╚═══██╗
╚█████╔╝╚█████╔╝██║░╚███║░░░██║░░░███████╗██║░╚███║███████╗██████╔╝╚█████╔╝██║░░██║███████╗██████╔╝
░╚════╝░░╚════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚══╝╚══════╝╚═════╝░░╚════╝░╚═╝░░╚═╝╚══════╝╚═════╝░
*/

.contenedorResponsivo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;

    width: 100%;
    height: 100%;
}

.slidesContenedor {
    /* Distribucion */
    position: relative;
    width: 100%;
    height: 100%;

    /* Apariencia */
    overflow: hidden;
}

.slidesContenedor__control {
    /* Distribucion */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 6.4rem;

    /* Apariencia */
    width: 100%;
    z-index: 1;
}

.slidesContenedor__slides {
    /* Distribucion */
    position: relative;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;

    width: 100%;
    height: 100%;
}

.slide {
    /* Distribucion */
    flex-shrink: 0;
    display: flex;
    padding: 6.4rem;

    /* Apariencia */
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px) {

    .slide,
    .slidesContenedor__control {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.portada {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6.4rem;
    flex-direction: column;

    background-image: url('https://picsum.photos/1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portada__titulo {
    padding: 1.2rem;

    width: fit-content;

    background-color: var(--color-primario-fondo-a08);

    border-radius: var(--borde-radio-mediano);
}

.paginas {
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    padding-bottom: 8rem;
}

.paginas>ul {
    display: flex;
    gap: 1.2rem;
}

.tarjetaComentario {
    display: flex;
    align-items: center;
    padding: 1.2rem 2.4rem;
    gap: 3.2rem;

    width: 100%;

    background-color: var(--color-blanco);

    border-radius: var(--borde-radio-grande);
    filter: var(--sombra-chica);
}

.tarjetaComentario__usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.tarjetaComentario__comentario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
}

.tarjetaNuevoComentario {
    display: flex;
    gap: 6rem;
}

.tarjetaNuevoComentario>.avatar {
    width: 20.4rem;
    height: 20.4rem;
}

.tarjetaNuevoComentario__entradas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;

    width: 100%;
}

/*
███████╗███╗░░██╗████████╗██████╗░░█████╗░██████╗░░█████╗░░██████╗
██╔════╝████╗░██║╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝
█████╗░░██╔██╗██║░░░██║░░░██████╔╝███████║██║░░██║███████║╚█████╗░
██╔══╝░░██║╚████║░░░██║░░░██╔══██╗██╔══██║██║░░██║██╔══██║░╚═══██╗
███████╗██║░╚███║░░░██║░░░██║░░██║██║░░██║██████╔╝██║░░██║██████╔╝
╚══════╝╚═╝░░╚══╝░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═════╝░╚═╝░░╚═╝╚═════╝░
*/
.cajaBusqueda,
.cajaAreaTexto,
.cajaDesplegable,
.cajaTexto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    width: 40.2rem;

    border: 0.2rem solid var(--color-borde-ui);
    border-radius: var(--borde-radio-chico);
}

.cajaAreaTexto {
    justify-content: space-between;
    gap: 0;
}

.cajaBusqueda>input,
.cajaBusqueda>a,
.cajaAreaTexto__entrada,
.cajaTexto,
.cajaDesplegable {
    color: var(--color-placeholder);
}

.cajaBusqueda>a,
.cajaTexto {
    z-index: 1;
}

.cajaBusqueda>input,
.cajaTexto {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.cajaBusqueda>input:focus,
.cajaAreaTexto__entrada,
.cajaTexto {
    color: var(--color-negro);
}

.controlNumerico {
    display: flex;
}

.controlNumerico>.botonIcono:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
}

.controlNumerico>.botonIcono:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
}

.controlNumerico>p {
    /*alinear horizontal y verticalmente*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.4rem;

    border: 0.2rem solid var(--color-borde-ui);
}

/*
██████╗░░█████╗░████████╗░█████╗░███╗░░██╗███████╗░██████╗
██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗░██║██╔════╝██╔════╝
██████╦╝██║░░██║░░░██║░░░██║░░██║██╔██╗██║█████╗░░╚█████╗░
██╔══██╗██║░░██║░░░██║░░░██║░░██║██║╚████║██╔══╝░░░╚═══██╗
██████╦╝╚█████╔╝░░░██║░░░╚█████╔╝██║░╚███║███████╗██████╔╝
╚═════╝░░╚════╝░░░░╚═╝░░░░╚════╝░╚═╝░░╚══╝╚══════╝╚═════╝░
*/
/*
█▀▄▀█ █▀█ █▀▄ █ █▀▀ █ █▀▀ ▄▀█ █▀▄ █▀█ █▀█ █▀▀ █▀
█░▀░█ █▄█ █▄▀ █ █▀░ █ █▄▄ █▀█ █▄▀ █▄█ █▀▄ ██▄ ▄█
*/
.-primario {
    color: var(--color-primario-seleccionado);
    background-color: var(--color-primario);
}

.-secundario {
    color: var(--color-blanco);
    background-color: var(--color-secundario);
}

.-terciario {
    color: var(--color-primario);
}

.-primario:hover {
    color: var(--color-primario-seleccionado);
    background-color: var(--color-primario-hover);
}

.-secundario:hover {
    background-color: var(--color-secundario-hover);
}

.-terciario:hover {
    background-color: var(--color-primario-seleccionado);
}

.-grande {
    height: 4.8rem;
}

/*
█▀▄ █ █▀ ▀█▀ █▀█ █ █▄▄ █░█ █▀▀ █ █▀█ █▄░█
█▄▀ █ ▄█ ░█░ █▀▄ █ █▄█ █▄█ █▄▄ █ █▄█ █░▀█
*/
.enlace,
.botonIcono,
.boton,
.controlEstrellas,
.icono {
    /* Distribucion */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-align: center;
    text-decoration: none;

    /* Apariencia */
    border-radius: var(--borde-radio-chico);
    z-index: 1;
    transition: all 0.3s;
}

.enlace,
.icono {
    color: var(--color-primario);
    background: transparent;
}

.botonIcono {
    padding: 1.4rem;
}

.enlace {
    /* Distribucion */
    padding: 0.8rem 1.6rem;
}

.etiqueta:hover {
    background-color: var(--color-primario-hover);
}

.icono:hover {
    color: var(--color-primario-hover);
}

.controlEstrellas {
    color: var(--color-amarillo-habilitado);
}

.controlEstrellas__estrella {
    width: 3.2rem;
    height: 3.2rem;
}

.controlEstrellas>li:last-child {
    color: var(--color-negro);
}

.etiqueta {
    padding: 0.2rem 0.8rem;

    color: var(--color-blanco);
    background-color: var(--color-primario);

    border-radius: var(--borde-radio-chico);
    transition: all 0.3s;
}

/*
██╗░█████╗░░█████╗░███╗░░██╗░█████╗░░██████╗
██║██╔══██╗██╔══██╗████╗░██║██╔══██╗██╔════╝
██║██║░░╚═╝██║░░██║██╔██╗██║██║░░██║╚█████╗░
██║██║░░██╗██║░░██║██║╚████║██║░░██║░╚═══██╗
██║╚█████╔╝╚█████╔╝██║░╚███║╚█████╔╝██████╔╝
╚═╝░╚════╝░░╚════╝░╚═╝░░╚══╝░╚════╝░╚═════╝░
*/

.iconoContenedor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    color: var(--color-primario);
    background-color: var(--color-primario-seleccionado);
    transition: all 0.3s;
}

svg {
    fill: currentColor;
    background-color: transparent;
}

.avatar {
    border-radius: 50%;
}

/*
████████╗░█████╗░██████╗░░░░░░██╗███████╗████████╗░█████╗░░██████╗
╚══██╔══╝██╔══██╗██╔══██╗░░░░░██║██╔════╝╚══██╔══╝██╔══██╗██╔════╝
░░░██║░░░███████║██████╔╝░░░░░██║█████╗░░░░░██║░░░███████║╚█████╗░
░░░██║░░░██╔══██║██╔══██╗██╗░░██║██╔══╝░░░░░██║░░░██╔══██║░╚═══██╗
░░░██║░░░██║░░██║██║░░██║╚█████╔╝███████╗░░░██║░░░██║░░██║██████╔╝
░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚══════╝░░░╚═╝░░░╚═╝░░╚═╝╚═════╝░
*/
.tarjetaProducto {
    /* Distribucion */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 1.2rem;

    /* Apariencia */
    width: 26.8rem;
    height: 38.8rem;
    background-image: url('https://picsum.photos/1920');

    border-radius: var(--borde-radio-grande);
    filter: var(--sombra-mediana);
    overflow: hidden;
}

.tarjetaProducto__titulo {
    padding: 1.2rem;

    width: 100%;
    height: fit-content;

    background-color: var(--color-primario-a085);

    filter: var(--sombra-chica);
}

.tarjetaProducto__caracteristicas {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
    position: absolute;
    bottom: -36%;

    width: 100%;
    height: fit-content;

    background-color: var(--color-primario-a085);

    transition: all 0.3s;
}

.tarjetaProducto__caracteristicas>h2 {
    color: var(--color-secundario);
}

.tarjetaProducto__caracteristicas>.controlEstrellas {
    justify-content: flex-start;
}

.tarjetaProducto__caracteristicas>.boton {
    width: 100%;
}

.tarjetaProducto:hover .tarjetaProducto__caracteristicas {
    bottom: 0;
}