/******************************************
*  Author : @AngelMaldonado   
*  Created On : Sun Jun 12 2022
*  File : components.css
*******************************************/

/* BARRA DE NAVEGACION PRINCIPAL */
.barraNavegacion {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 6.4rem;

    width: 100vw;
    max-width: 100%;

    background-color: var(--color-primario-a085);
}

.barraNavegacion__logo,
.piePagina__logo {
    width: 9.1rem;

    background-image: url(/assets/svg/logo-ie.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.piePagina__logo {
    width: 19.3rem;
    height: 10.2rem;
}

.barraNavegacion__tabs {
    display: flex;
    gap: 1.2rem;
}

.separador {
    width: 100%;
    height: 0.4rem;
    background-color: var(--color-borde-ui);
    border-radius: 0.4rem;
}

/*
░█████╗░░█████╗░███╗░░██╗████████╗███████╗███╗░░██╗███████╗██████╗░░█████╗░██████╗░███████╗░██████╗
██╔══██╗██╔══██╗████╗░██║╚══██╔══╝██╔════╝████╗░██║██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔════╝
██║░░╚═╝██║░░██║██╔██╗██║░░░██║░░░█████╗░░██╔██╗██║█████╗░░██║░░██║██║░░██║██████╔╝█████╗░░╚█████╗░
██║░░██╗██║░░██║██║╚████║░░░██║░░░██╔══╝░░██║╚████║██╔══╝░░██║░░██║██║░░██║██╔══██╗██╔══╝░░░╚═══██╗
╚█████╔╝╚█████╔╝██║░╚███║░░░██║░░░███████╗██║░╚███║███████╗██████╔╝╚█████╔╝██║░░██║███████╗██████╔╝
░╚════╝░░╚════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚══╝╚══════╝╚═════╝░░╚════╝░╚═╝░░╚═╝╚══════╝╚═════╝░
*/

.portada {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6.4rem;
    flex-direction: column;

    background-image: url('https://picsum.photos/1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portada__titulo {
    padding: 1.2rem;

    width: fit-content;

    background-color: var(--color-primario-fondo-a08);

    border-radius: var(--borde-radio-mediano);
}

.paginas {
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    padding-bottom: 8rem;
}

.paginas>ul {
    display: flex;
    gap: 1.2rem;
}

.tarjetaComentario {
    display: flex;
    align-items: center;
    padding: 1.2rem 2.4rem;
    gap: 3.2rem;

    width: 100%;

    background-color: var(--color-blanco);

    border-radius: var(--borde-radio-grande);
    filter: var(--sombra-chica);
}

.tarjetaComentario__usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.tarjetaComentario__comentario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
}

.tarjetaNuevoComentario {
    display: flex;
    gap: 6rem;
}

.tarjetaNuevoComentario>.avatar {
    width: 20.4rem;
    height: 20.4rem;
}

.tarjetaNuevoComentario__entradas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;

    width: 100%;
}

/*
███████╗███╗░░██╗████████╗██████╗░░█████╗░██████╗░░█████╗░░██████╗
██╔════╝████╗░██║╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝
█████╗░░██╔██╗██║░░░██║░░░██████╔╝███████║██║░░██║███████║╚█████╗░
██╔══╝░░██║╚████║░░░██║░░░██╔══██╗██╔══██║██║░░██║██╔══██║░╚═══██╗
███████╗██║░╚███║░░░██║░░░██║░░██║██║░░██║██████╔╝██║░░██║██████╔╝
╚══════╝╚═╝░░╚══╝░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═════╝░╚═╝░░╚═╝╚═════╝░
*/
.cajaBusqueda,
.cajaAreaTexto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    width: 40.2rem;

    border: 0.2rem solid var(--color-borde-ui);
    border-radius: var(--borde-radio-chico);
}

.cajaAreaTexto {
    justify-content: space-between;
    gap: 0;
}

.cajaBusqueda>input,
.cajaBusqueda>a,
.cajaAreaTexto__entrada {
    color: var(--color-placeholder);
}

.cajaBusqueda>a {
    z-index: 1;
}

.cajaBusqueda>input {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.cajaBusqueda>input:focus,
.cajaAreaTexto__entrada {
    color: var(--color-negro);
}

.controlNumerico {
    display: flex;
}

.controlNumerico>.botonIcono:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
}

.controlNumerico>.botonIcono:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
}

.controlNumerico>p {
    /*alinear horizontal y verticalmente*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.4rem;

    border: 0.2rem solid var(--color-borde-ui);
}

/*
██╗░█████╗░░█████╗░███╗░░██╗░█████╗░░██████╗
██║██╔══██╗██╔══██╗████╗░██║██╔══██╗██╔════╝
██║██║░░╚═╝██║░░██║██╔██╗██║██║░░██║╚█████╗░
██║██║░░██╗██║░░██║██║╚████║██║░░██║░╚═══██╗
██║╚█████╔╝╚█████╔╝██║░╚███║╚█████╔╝██████╔╝
╚═╝░╚════╝░░╚════╝░╚═╝░░╚══╝░╚════╝░╚═════╝░
*/
svg {
    fill: currentColor;
}

.icono {
    background-color: transparent !important;
    color: var(--color-primario);

    border-radius: 50%;
}

.avatar {
    border-radius: 50%;
}

/*
██████╗░░█████╗░████████╗░█████╗░███╗░░██╗███████╗░██████╗
██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗░██║██╔════╝██╔════╝
██████╦╝██║░░██║░░░██║░░░██║░░██║██╔██╗██║█████╗░░╚█████╗░
██╔══██╗██║░░██║░░░██║░░░██║░░██║██║╚████║██╔══╝░░░╚═══██╗
██████╦╝╚█████╔╝░░░██║░░░╚█████╔╝██║░╚███║███████╗██████╔╝
╚═════╝░░╚════╝░░░░╚═╝░░░░╚════╝░╚═╝░░╚══╝╚══════╝╚═════╝░
*/
.-primario {
    color: var(--color-primario-seleccionado);
    background-color: var(--color-primario);
}

.-secundario {
    color: var(--color-blanco);
    background-color: var(--color-secundario);
}

.-terciario {
    color: var(--color-primario);
}

.enlace,
.botonIcono,
.boton,
.iconoContenedor,
.controlEstrellas,
.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    text-align: center;
    text-decoration: none;

    z-index: 1;
    transition: all 0.3s;
}

.-primario:hover,
.enlace:hover {
    color: var(--color-primario-seleccionado);
    background-color: var(--color-primario-hover);
}

.etiqueta:hover {
    background-color: var(--color-primario-hover);
}

.-secundario:hover {
    background-color: var(--color-secundario-hover);
}

.-terciario:hover {
    background-color: var(--color-primario-seleccionado);
}

.icono:hover {
    color: var(--color-primario-hover);
}

.boton,
.enlace {
    border-radius: var(--borde-radio-chico);
}

.botonIcono,
.iconoContenedor {
    border-radius: 50%;
}

.botonIcono>svg,
.iconoContenedor>svg,
.icono>svg {
    width: 100%;
    height: 100%;
}

.controlEstrellas {
    color: var(--color-amarillo-habilitado);
}

.controlEstrellas>li:last-child {
    color: var(--color-negro);
}

.boton {
    padding: 1.2rem 2.4rem;

    width: fit-content;
}

.enlace {
    color: var(--color-primario);
    padding: 0.8rem 1.6rem;
}

.etiqueta {
    padding: 0.2rem 0.8rem;

    color: var(--color-blanco);
    background-color: var(--color-primario);

    border-radius: var(--borde-radio-chico);
    transition: all 0.3s;
}

.botonIcono {
    padding: 1.4rem;
}

.iconoContenedor {
    position: relative;

    color: var(--color-primario);
    background-color: var(--color-primario-seleccionado);

    border-radius: 50%;
}

.iconoContenedor:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.iconoContenedor>* {
    position: absolute;

    width: 100%;
    height: 100%;
}

.iconoContenedor>svg {
    padding: 2.4rem;
}

/*
████████╗░█████╗░██████╗░░░░░░██╗███████╗████████╗░█████╗░░██████╗
╚══██╔══╝██╔══██╗██╔══██╗░░░░░██║██╔════╝╚══██╔══╝██╔══██╗██╔════╝
░░░██║░░░███████║██████╔╝░░░░░██║█████╗░░░░░██║░░░███████║╚█████╗░
░░░██║░░░██╔══██║██╔══██╗██╗░░██║██╔══╝░░░░░██║░░░██╔══██║░╚═══██╗
░░░██║░░░██║░░██║██║░░██║╚█████╔╝███████╗░░░██║░░░██║░░██║██████╔╝
░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚══════╝░░░╚═╝░░░╚═╝░░╚═╝╚═════╝░
*/
.tarjetaProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    width: 26.8rem;
    height: 38.8rem;
    background-image: url('https://picsum.photos/1920');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: var(--borde-radio-grande);
    filter: var(--sombra-mediana);
    overflow: hidden;
}

.tarjetaProducto__titulo {
    padding: 1.2rem;

    width: 100%;
    height: fit-content;

    background-color: var(--color-primario-a085);

    filter: var(--sombra-chica);
}

.tarjetaProducto__caracteristicas {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
    position: absolute;
    bottom: -36%;

    width: 100%;
    height: fit-content;

    background-color: var(--color-primario-a085);

    transition: all 0.3s;
}

.tarjetaProducto__caracteristicas>h2 {
    color: var(--color-secundario);
}

.tarjetaProducto__caracteristicas>.controlEstrellas {
    justify-content: flex-start;
}

.tarjetaProducto__caracteristicas>.boton {
    width: 100%;
}

.tarjetaProducto:hover .tarjetaProducto__caracteristicas {
    bottom: 0;
}