/******************************************
*  Author : @AngelMaldonado   
*  Created On : Tue Jun 14 2022
*  File : InformacionDelPedido.css
*******************************************/

.pedido.grid1f2c>.grid1f2c__detalles {
    grid-area: derecha;

    /* height: 100%;

    background-color: var(--color-blanco);

    border-radius: var(--borde-radio-grande);
    filter: var(--sombra-mediana);
    overflow-y: scroll; */
}

.pedido.grid1f2c>.grid1f2c__detalles>.detalles__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pedido.grid1f2c>.grid1f2c__detalles>.detalles__formulario>.formulario__botones {
    display: flex;
    gap: 1.2rem;
    margin-top: 1.2rem;
}

.pedido.grid1f2c>.grid1f2c__detalles>.detalles__formulario>.formulario__botones>.boton {
    width: 100%;
}

.formularioScroll__nuevoCorreo {
    display: flex;
    gap: 0.8rem;
}

.correosRegistrados {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    height: fit-content;
}

.camposPedido {
    grid-area: camposPedido;
    display: flex;
    flex-direction: column;
}

.personalizacion__pedido {
    width: 80%;
}

.personalizacion__pedido>.pedido__formulario {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}

.personalizacion__pedido>.pedido__formulario>.cajaBusqueda {
    width: 100%;
}