/******************************************
*  Author : @AngelMaldonado   
*  Created On : Tue Jun 14 2022
*  File : personalizacionProducto.css
*******************************************/

.PersonalizacionProducto {
    padding-bottom: 6.4rem;
}

.PersonalizacionProducto>.formulario {
    align-items: center;
    text-align: center;
}

.PersonalizacionProducto>.formulario>.exhibidor>.exhibidor__actual {
    width: 25.6rem;
    height: 25.6rem;
}

.personalizacion__campos {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    height: fit-content;
}

.campos__botones {
    display: flex;
    gap: 1.2rem;
}

.campos__botones>.boton {
    width: 100%;
}