/******************************************
*  Author : @AngelMaldonado   
*  Created On : Tue Jun 14 2022
*  File : personalizacionProducto.css
*******************************************/

.PersonalizacionProducto {
    padding-bottom: 6.4rem;
}

.PersonalizacionProducto>.formulario {
    align-items: center;
    text-align: center;
}

.PersonalizacionProducto>.formulario>.exhibidor>.exhibidor__actual {
    width: 25.6rem;
    height: 25.6rem;
}

.PersonalizacionProducto>.contenedorScroll>.formulario>div:last-child {
    margin-top: 2.4rem;
}