/******************************************
*  Author : @AngelMaldonado   
*  Created On : Mon Jun 13 2022
*  File : verProductoServicio.css
*******************************************/

.producto>.contenido {
    padding-top: 12rem;
    display: grid;
    gap: 3.2rem;
    grid-template-areas:
        'navegacionProducto navegacionProducto'
        'producto__exhibidor producto__descripcion';
}

.navegacionProducto {
    display: flex;
    align-items: center;
    gap: 4rem;
    grid-area: navegacionProducto;
}

.navegacionProducto__ruta {
    display: flex;
    gap: 0.8rem;
}

.producto__exhibidor {
    display: flex;
    justify-content: space-between;
    grid-area: producto__exhibidor;

    max-width: 50.6rem;
}

.exhibidor__imagenes {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.exhibidor__imagenes>.imagenes__imagen {
    width: 8rem;

    border-radius: var(--borde-radio-mediano);
    overflow: hidden;
}

.exhibidor__actual {
    width: 40rem;
    height: 40rem;

    border-radius: var(--borde-radio-grande);
}

.producto__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: producto__descripcion;
}

.descripcion__titulo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.descripcion__titulo>.controlEstrellas {
    justify-content: flex-start;
}

.descripcion__disponibilidad {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.descripcion__botonesCompra {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.descripcion__botonesCompra>.boton {
    width: 100%;
}

.descripcion {
    height: fit-content;
}

.descripcion>.contenido {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 3.2rem 0;
}

.comentarios {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-top: 3.2rem;
    padding-bottom: 6.4rem;
    height: fit-content;
}

.comentarios__tarjetas {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.tarjetaNuevoComentario__entradas>.cajaAreaTexto {
    width: 100%;
}